month-list {
  .item-md.item-block .item-inner {
    padding-right: 0;
    .label-md {
      margin: 0;
    }
  }
  .day-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .fixed-header {
    position: fixed;
    left: 0; right: 0;
    top: 0;
  }
  .week-day-item{
    height: 28px;
    line-height: 28px;
    text-align: center;
    flex:0 0 14.2857%;
    width: 14.2857%;
    max-width: 14.2857%;;
  }
  ion-content{
    margin-top: 28px;
  }
}
