month-list {

  .item-md.item-block .item-inner {
    padding-right: 0;
    .label-md {
      margin: 0;
    }
  }
  ul   {
    margin: 0;
    li {
      overflow: hidden;
    }

  }
  ion-content{
    margin-top: 84px;
    // padding-top: 28px;
  }
}
