page-user-center {
  ion-content{
    background: rgb(234,234,244);
  }
  .item-md,.item-ios{
    .iconfont {
      font-size: 1.8em;
      color: color($colors, primary);
    }
    &.has-margin-bottom {
      margin-bottom: 10px;
    }
    background: #fff;
    margin-bottom: 1px;
    border-bottom: 1px solid #dedede !important;
    border-radius: 14px;
    .arrow-right {
      transform: scale(0.6);
    }

  }
  .item-md ion-icon[item-left] + .item-inner {
    margin-left: 0;
  }
  .head-container {

    position: relative;
    width: 100vw;
    height: 57vw;
    // background-color: color($colors, primary);
    //background-image: url('assets/img/user_center_bg.png');
    background-color: color($colors, primary);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    .user_center_bg {
      position: absolute;
      width: 100vw;
      height: 30vw;
      bottom: 0;
    }
    .head-pic-container{
      position: absolute;
      box-sizing: border-box;
      overflow: hidden;
      padding: 3px;
      left: 50%;
      top: 50%;
      margin-top: -60px;
      margin-left: -35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: rgba(255,255,255,0.3);
      text-align: center;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .user-name {
      width: 100%;
      line-height: 30px;
      position: absolute;
      top: 50%;
      margin-top: 15px;
      color: #fff;
    }
  }

  .user-content {
    position: relative;
    margin-top: -60px;
    ion-card {
      &.card-md {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(6, 185, 229, 0.3);
      }
      border-radius: 10px;
      ion-col{
        .col-name {
          color: #646464;
          font-size: 12px;
        }
        &.button-clear-md {
          color: #a5a7ad;
        }
        .button-inner {
          display: initial;
        }
      }
      ion-card-header {
        .iconfont {
          color : #ec9605;
          font-size: 2rem;
        }

      }
    }
    .reminder-info {
      color: #ec9605;
    }
  }

  .msg-row ion-col{
    line-height: 34px;
    font-size:14px;
  }
  .log-out {
    color: color($colors, primary);
    background-color: #ffffff;
    border: none !important;
    border-radius: 14px;
    height: 52px;
  }
  .number-content {
    font-size: 18px;
  }
  .number_unit {
    font-size:12px;
  }
  .list-ios {
    margin: -1px 0 0px;
  }
  .button-ios.activated {
    background-color: #fff;
  }
}

