<ion-header>

  <ion-navbar>
    <ion-title>{{roomDetail?.fjmc}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="bottom:3.2rem">
  <ion-slides pager class="item-profile">

    <ion-slide style="background-color: green" *ngFor="let item of roomDetail?.fjtp">
      <div class="item-profile" text-center  [style.background-image]="'url(' + (item.imgPath | imgUrl) + ')'">
      </div>
    </ion-slide>
  </ion-slides>

  <div class="item-detail" padding>
    <h2 class="money">价格：￥{{roomDetail?.fjjg}}</h2>
    <p >
      <span float-left>面积：{{roomDetail?.fjmj}}m²</span>
      <span float-right>窗户朝向：{{roomDetail?.chcx}}</span>
    </p>
    <p  >
      <span float-left>楼层：{{roomDetail?.sslc}}楼</span>
      <span float-right>床宽：1.8m</span>
    </p>
    <p >
      <span float-left>地址：{{roomDetail?.fjdz}}</span>
      <span float-right><ion-icon name="pin"></ion-icon> 1.4km</span>
    </p>
  </div>
  <ion-grid class="device-list" no-padding padding-left padding-right padding-bottom margin-bottom margin-top>
    <ion-row>
      <ion-col class="has-border-bottom">
        便利设施
      </ion-col>
    </ion-row>
    <ion-row text-center padding-top class="icon-box facilities-row">
      <div class="facilities">离地铁近</div>
      <div class="facilities">首次出租</div>
      <div class="facilities">新小区</div>
      <div class="facilities">免费维修</div>
      <div class="facilities">双周保洁</div>
      <div class="facilities">WiFi覆盖</div>
      <div class="facilities">木棉4.0</div>
    </ion-row>
  </ion-grid>

  <ion-grid class="discount-list" no-padding padding-left padding-right padding-bottom margin-bottom margin-top>
    <ion-row text-center padding-top class="icon-box facilities-row">
      <div class="discount-item" *ngFor="let discountInfo of roomDetail?.discounts;">
        <div class="discount-ico">折</div>
        {{discountInfo}}
      </div>
<!--      <div class="discount-item">
        <div class="discount-ico">折</div>
        预计时间大于30天，88折！
      </div>-->
    </ion-row>
  </ion-grid>

  <ion-grid class="device-list" no-padding padding-left padding-right padding-bottom margin-bottom>
    <ion-row>
      <ion-col class="has-border-bottom">
        入住时间
      </ion-col>
    </ion-row>
    <ion-row text-center padding-top>
      <ion-col>
        {{beginDate}}
        <span class="subInfo">入住</span>
      </ion-col>
      <ion-col>
        {{endDate}}
        <span class="subInfo">离开</span>
      </ion-col>
      <ion-col text-right class="primary"> 住{{this.days}}晚</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-padding>
  <button ion-button full no-padding no-margin (click)="goPay()">立即预定 </button>
</ion-footer>
