page-item-detail {
  ion-content{
    background: #f8f9fa;
  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: 100% auto;
    height: 60vw;
  }
  .icon-box{
    color: #999;
    .iconfont {
      font-size: 2em;
    }
  }
  .item-detail {
    width: 100%;
    color: #999;
    background: #fff;
    //background: white;
    //position: absolute;
    p{
      overflow: hidden;
      margin:0;
      line-height: 22px;
    }
  }
  ion-grid.device-list{
    background: #fff;
    padding-top: 0;
  }
  .remark {
    line-height: 35px;
    border-bottom: 1px solid color($colors, gray);
    background: #f8f9fa;
    color: #999;
  }
  .device-list {
    color: #999;
  }
  .has-border-bottom{
    line-height: 40px;
    border-bottom: 1px solid color($colors, gray);
  }
  .device-list ion-icon{
    font-size: 24px;

  }
  .datetime-text {
    color: color($colors, dark);
  }
  .date-picker span {
    color: color($colors, subInfo);
  }

  .img-list{
    img{
      width: 45vw;
      height: 34.3vw;
    }
  }
}
.facilities-row{
  padding-top: 0 !important;
}
.facilities{
  float:left; border:solid .55px #ccc; border-radius: 4px; width: 23%; margin:16px 1% 0; padding: 5px 0;
}
.discount-list{
  padding: 10px 16px !important;
  background: #fff;
}
.discount-item{
  border-top:solid 1px #dedede; padding: 10px 0 10px 30px; position: relative; width: 100%; text-align: left;
}
.discount-ico{ width: 20px; height: 20px; background: #f60; position: absolute; color:#fff; left:0; top: 50%; margin-top: -10px;text-align: center}
.discount-item:first-child{ border:none;}
