page-coupon {
  .ion-header {
    background: #fff !important;
  }
  .no-data {
    img {
      margin-top: 80px;
      width: 31vw;
      height: 30vw;
    }
  }
  ion-segment{
    background: #fff;
  }
  .segment-ios .segment-button.segment-activated{
    background:#fff; color:#06b9e5; border-bottom: solid 2px #06b9e5
  }
  .segment-ios .segment-button:first-of-type{
    border-radius: 0;
  }
  .segment-ios .segment-button:last-of-type{
    border-radius: 0;
  }
  .segment-ios .segment-button{
    color:#666;
    border:none;
  }
  .item-block{
    font-size: 13px;
  }
  .item-ios ion-thumbnail[item-start]{
    margin-right: 10px;
  }
  .item-ios ion-thumbnail img {
    width: 80px;
    height: 70px;
  }
  .address,
  .min-font{
    margin-top: 5px;
    color:#999;
  }
  .item-ios.item-block .item-inner{
    padding-right: 0;
  }
  .label-ios{
    margin-right: 0;
  }
  ion-item-group {
    color: #999;
    .label-md {
      margin: 5px 8px 5px 0;
    }
    i.iconfont{
      color: #b2b2b2;
      font-size: 13px;
    }
    margin-bottom: 10px;
    .sub-title{
      overflow: hidden;
      color: #333;
      // margin-top: -20px;
      h3 { width: 70%; overflow: hidden; text-overflow: ellipsis}
    }
    .item-block{
      min-height: inherit;
    }
    .item-md ion-thumbnail[item-start] {
      margin: 8px 8px 8px 0;
    }
    .item-content{
      background: #f3f3f6;
      .min-font{
        font-size: 10px;
      }
    }
  }
  ion-item.item-header {
    background: #fff !important;
  }
  .item-inner {
    border: none !important;

  }
  ion-item.item-footer{
    background: #fff !important;
  }
  .header-md::after {
    background-image: none;
  }

  .coupon_bg {
    margin-top:10px;
    width: 360px;
    height: 90px;
  }
  .has_coupon {
    margin-top:10px;
    background: url("../../../assets/img/has_coupon.png") no-repeat;
    width: 360px;
    height: 90px;
  }
  .void_coupon {
    margin-top:10px;
    background: url("../../../assets/img/void_coupon.png") no-repeat;
    width: 360px;
    height: 90px;
  }
  ion-col span {
    display: inline-block;
    padding:7px 0;
  }
  .list-ios > .item-block:first-child {
    border-top: none !important;
  }
  .list-ios > .item-block:last-child {
    border-bottom: none !important;
  }
}
