page-pay-result {
  .success-content {
    background-color: #25bee7;
    color: #ffffff;
    height: 100%;
  }
  .failure-content {
    background-color: #ff5731;
    color: #ffffff;
    height: 100%;
  }
}
