<ion-header *ngIf="showHeader">
  <ion-grid no-padding>

    <ion-row align-items-center no-padding>
      <ion-col col-auto (click)="cityChoose()">
        &ensp;&ensp;{{currentCity.name}}<ion-icon name="md-arrow-dropdown" ></ion-icon>&ensp;
      </ion-col>
      <ion-col padding-left padding-right>
        <form novalidate class="search-form">
          <ion-icon name="search" margin-left class="search-icon"></ion-icon>
          <input [(ngModel)]="queryKeyWord" [ngModelOptions]="{standalone: true}" type="text" class="search-input"
                 placeholder="输入房间,位置,价格">
        </form>
      </ion-col>
      <ion-col col-auto>
        <button ion-button clear (click)="openMap()">
          <span class="iconfont icon-map" style="font-size: 24px;"></span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content style="position: relative;">
  <div class="banner" [ngClass]="{'close': !isBannerOpening}"
       [style.background-image]="'url(./assets/img/banner2.png)'">
    <div class="trapezoid"></div>
    <div class="banner-text" (click)="toggleBanner()">
      <i class="iconfont icon-slide-down" [hidden]="isBannerOpening"></i>
      <i class="icon iconfont icon-up" [hidden]="!isBannerOpening"></i>
    </div>
  </div>
  <!--设置时间-->
  <ion-grid no-padding>
    <ion-row class="data-picker-box">
      <ion-col class="has-border-right">
        <div>
          <div text-right class="date-item">
            <span class="primary">入住</span>&ensp;&ensp;
            <date-picker (onDateChange)="beginDateChange($event)" [(curDate)]="startDate"></date-picker>
          </div>
          <div text-right class="date-item">
            <span class="primary">离开</span>&ensp;&ensp;
            <date-picker (onDateChange)="endDateChange($event)" [(curDate)]="endDate"></date-picker>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col text-center align-self-center>住{{days}}晚</ion-col>
          <ion-col>
            <button type="button" (tap)="searchHotelByKey()" ion-button text-center class="search-btn">
              <ion-icon name="search"></ion-icon>
              <br/>搜索
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="segment-bar">
    <ion-row>
      <ion-col text-center align-self-center ion-button color="dark" clear>
        <ion-item class="item-ion">
          <ion-select [(ngModel)]="area.id" interface="popover" class="item-sel" (ngModelChange)="updateHotelsByChange('area')">
            <ion-option value="110000">全城</ion-option>
            <ion-option *ngFor="let area of areaList" [value]="area.id">{{area.text}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col text-center align-self-center ion-button color="dark" clear>
        <ion-item class="item-ion">
          <ion-select [(ngModel)]="distance" interface="popover" class="item-sel" (ngModelChange)="updateHotelsByChange('distance')">
            <ion-option value='1000000'>距离</ion-option>
            <ion-option value='1000'>1 km</ion-option>
            <ion-option value='3000'>3 km</ion-option>
            <ion-option value='5000'>5 km</ion-option>
            <ion-option value='10000'>10 km</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col text-center align-self-center ion-button color="dark" clear>
        <ion-item class="item-ion">
          <ion-select [(ngModel)]="houseResource" interface="popover" class="item-sel" (ngModelChange)="updateHotelsByChange('houseResource')">
            <ion-option value=''>全部</ion-option>
            <ion-option value='1'>有房源</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--绝对定位，设置滚动 style="position: absolute; top:38vw; left:0px;right: 0px;bottom: 0px"-->
   <!-- <div [ngClass]="{'closePosition': !isBannerOpening , 'openPosition': isBannerOpening}" style="transform: translateY(38vw);">-->
      <ion-list>
        <ion-item *ngFor="let item of hotelList" (click)="openItem(item.id)" class="has-thumbnail">
          <ion-thumbnail item-left>
            <img [src]="item.thumbnail | imgUrl">
          </ion-thumbnail>
          <ion-grid no-padding>
            <ion-row class="title">
              <ion-col><h2 text-nowrap>{{item.gymc}}</h2></ion-col>
              <ion-col col-auto text-right><span class="money">￥<span class="money-num">{{item.minPrice || '--'}}</span></span> 起
              </ion-col>
            </ion-row>
            <ion-row class="title">
              <ion-col text-nowrap><p>{{item.gydz}}</p></ion-col>
              <ion-col col-auto text-right><p>剩余{{item.availableRooms || 0}}</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p><i class="iconfont icon-location"></i>{{item.distance / 1000}}km</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll [enabled]="notLoadOver" (ionInfinite)="$event.waitFor(getHotelList($event))">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中......">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    <!--</div>-->

</ion-content>

<!--<date-container></date-container>-->
<!--<date-picker (onDateChange)="getDays()" ></date-picker>-->
