recharge {
  .content-md{
    background: #efeff4;
  }
  .gray-background {
    background: #f8f9fa;
  }
  .circle{
    display: inline-block;
    box-sizing: border-box;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    text-align: center;
    line-height: 16vw;
    border: 1px solid color($colors, borderColor);
    &.active{
      border-color: #ff5624;
      color: #ff5624;
    }

  }
  .round-input{
    line-height: 42px;
    text-align: center;
    border: 1px solid color($colors, borderColor);
    border-radius: 21px;
  }
  .radio-group-header {
    border:none;
    background: #f8f9fa;
    line-height: 34px;
  }
  .list-md .item-block .item-inner{
    border-bottom: 1px solid #dedede !important;
  }
  ion-item.item-block {
    ion-thumbnail {
      min-width: 40px;
      height: 40px;
      margin: 0;
      min-height: 40px;
      ion-img,img{
        width: 40px;
        height: 40px;
      }
    }
  }

  //再首页设置select不显示的全局样式
  .radio-ios .radio-checked .radio-inner {
    display: block !important;
  }

  .list-ios .item-block .item-inner{
    border-bottom: hidden;
  }

  .has-bottom{
    border-bottom: 0.55px solid #c8c7cc;
  }
}
