<!-- Generated template for the RechargeComponent component -->
<ion-header>

  <ion-navbar>
    <ion-title>{{isRefund ? "押金充值" : "充值"}}</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding class="gray-background" *ngIf="!isRefund">
    <div class="sub-info">充值金额</div>
    <ion-grid no-padding >
      <ion-row margin-top>
        <ion-col text-left margin-top>
          <div class="circle" [ngClass]="{'active': activeNum === 100}" (tap)="changeValue(100)">100元</div>
        </ion-col>
        <ion-col text-center margin-top>
          <div class="circle" [ngClass]="{'active': activeNum === 200}" (tap)="changeValue(200)"> 200元</div>
        </ion-col>
        <ion-col text-right margin-top>
          <div class="circle" [ngClass]="{'active': activeNum === 500}" (tap)="changeValue(500)">500元</div>
        </ion-col>
      </ion-row>
      <ion-row margin-top>
      <input margin-top type="number" ion-col class="round-input" placeholder="请输入其他金额" [(ngModel)]="customValue"
               (ngModelChange)="valueChange($event)">
    </ion-row>
  </ion-grid>
</div>
  <div *ngIf="isRefund">
    <div class="gray-background" text-center style="height: 236px;">
      <div style="padding-top: 61px; color:#999999; font-size:13px; line-height: 13px;" class="sub-info">充值金额(元)</div>
      <div style="padding-top: 22px;padding-bottom: 12vh; color:#333333; font-size: 50px;line-height：50px;">{{activeNum}}</div>
    </div>
    <div  style="height: 8px;background-color: #efeff4"></div>
  </div>


  <div margin-top style="background: #FFf; overflow: hidden;">
    <ion-list radio-group [(ngModel)]="payWay">
      <div class="radio-group-header" text-center>
        支付方式
      </div>
      <ion-item class="radio-item has-bottom">
        <ion-thumbnail item-start>
          <img src="./assets/img/alipay.png">
        </ion-thumbnail>
        <ion-label>支付宝</ion-label>
        <ion-radio checked="true" value="aliPay"></ion-radio>
      </ion-item>
      <ion-item class="radio-item">
        <ion-thumbnail item-start>
          <img src="./assets/img/wechat.png">
        </ion-thumbnail>
        <ion-label>微信</ion-label>
        <ion-radio value="wechat"></ion-radio>
      </ion-item>
<!--      <ion-item>
        <ion-label>支付宝</ion-label>
        <ion-radio checked="true" value="aliPay"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>微信</ion-label>
        <ion-radio value="wechat"></ion-radio>
      </ion-item>-->


    </ion-list>
    <div padding style="height: 78px;">
      <button ion-button full no-padding text-center (click)="recharge()" style="height: 49px; border-radius: 5px;">充值</button>
    </div>
  </div>
</ion-content>
