// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.money,
.primary
{
  color:  color($colors, primary);
}
.danger {
  color:  color($colors, danger);
}
.gray {
  color: color($colors, gray);
}
.sub-info {
  color: color($colors, subInfo);
}
.has-border-bottom {
  border-bottom: 1px solid color($colors, borderColor) !important;
}
.min-font{
  font-size: 10px;
}
.has-thumbnail {
  .label-md {
    // margin-top: 0;
  }
  ion-row {
    margin-bottom: 10px;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

}
.date-picker-container {
  ion-col:nth-of-type(1) {
    border-right: 1px solid color($colors, borderColor);
  }
}
.date-picker {
  &:nth-of-type(1) {
    border-right: 1px solid color($colors, gray);
  }
  .primary {
    display: inline-block;
    margin-top: 10px;
  }
}

.item-md{
  background: #fff;
}

.toolbar-background-md {
  background: #fff;
}

.segment-md .segment-button{
  color: #666;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
  color: color($colors, primary);
}
