page-login {
  position: fixed;
  z-index: 19;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //transition: all 0.3s ease-in-out;
  //transform: scale(0);
  //opacity: 0;
  ion-label[fixed]{
    flex: 0 0 80px;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-overflow: initial;
    &.label{
      margin-right: 0;
    }
  }
  &.show-page {
    transform: scale(1);;
    opacity: 1;
  }
  ion-content.login-content{
    background: #fff !important;
    ion-item{
      background: #fff;
      [item-right]{
        margin: 8px 0;
      }
    }
  }
  form {
    padding-top: 0px !important;
    // margin-top: 30px;
  }
  .banner{
    position: relative;
    width: 100vw;
    height: 66vw;
    background-size: cover;
    background-position: center;
    .wave {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: auto;
    }
  }
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value .item-inner
  {
     box-shadow: none;
   }

  .list-ios > .item-block:first-child {
    border-top: none;
  }
  .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
    margin-left: 5px;
  }
}
