page-balance-detail {
  .light-color{
    color: #999;
    font-size: 12px;
  }
  .msg-info{
    font-size: 15px;
  }
  .has-border-bottom{
    margin-bottom: 0px;
  }
  .item-inner .label{
    margin: 5px 8px 5px 0;
  }
}
