<ion-header>

  <ion-navbar>
    <ion-title>{{hotelDetail?.gymc}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides pager class="item-profile">
    <ion-slide  *ngFor="let item of hotelDetail?.pictures">
      <div class="item-profile" text-center  [style.background-image]="'url(' + (item.imgPath | imgUrl) + ')'">
      </div>
    </ion-slide>
  </ion-slides>
  <div class="item-detail" padding margin-bottom>
    <p>
      <span float-left>地址：{{hotelDetail?.gydz}}</span>
      <span float-right><ion-icon name="pin"></ion-icon> 1.4km</span>
    </p>

  </div>



  <ion-grid class="device-list" no-padding padding-left padding-right padding-bottom margin-bottom>
    <ion-row>
      <ion-col class="has-border-bottom">
        入住时间
      </ion-col>
    </ion-row>
    <ion-row text-center padding-top>
      <ion-col class="date-picker">
        {{beginDate}}
<!--        <ion-datetime
          [cancelText]="'取消'" [doneText]="'确定'"
          no-padding
          (ionChange)="getHotelDetail()"
          displayFormat="YYYY-MM-DD"
          pickerFormat="YYYY-MM-DD"
          [(ngModel)]="beginDate">
        </ion-datetime>-->
        <br>
        <span>入住</span>
      </ion-col>
      <ion-col  class="date-picker">
        {{endDate}}
<!--        <ion-datetime
          [cancelText]="'取消'" [doneText]="'确定'"
          no-padding
          (ionChange)="getHotelDetail()"
          displayFormat="YYYY-MM-DD"
          pickerFormat="YYYY-MM-DD"
          [(ngModel)]="endDate">
        </ion-datetime>-->
        <br>
        <span>离开</span>

      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="segment-bar" no-padding>
    <ion-row >
      <ion-col class="has-border-bottom" padding-left padding-right>
        <div padding-left padding-right >可预订房源</div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="list-ios">
    <ion-item *ngFor="let item of hotelDetail?.kyfj"
              no-padding detail-push class="item-ios"
              (click)="goRoomDetail(item.id, beginDate, endDate, item.fjbh)">
      <h3 padding-left>{{item.sslc}}楼 {{item.fjbh}}室</h3>
      <span class="primary" item-right>￥<span class="price">{{item.fjjg}}</span></span>
    </ion-item>
    <ion-item *ngIf="hotelDetail?.kyfj.length === 0" text-center no-padding class="item-ios">
      暂无空房
    </ion-item>

<!--    <ion-item text-center no-padding class="item-ios" >
      <i class="iconfont icon-slide-down" ></i> 查看全部
    </ion-item>-->
  </ion-list>
  <ion-grid class="device-list" no-padding padding-left padding-right padding-bottom margin-bottom>
    <ion-row>
      <ion-col class="has-border-bottom">
        周边介绍
      </ion-col>
    </ion-row>
    <ion-row  padding-top>
      <ion-col class="date-picker">
        <div>
          {{hotelDetail?.nearby}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="openBaiDuMap()">
        <div id="hotelmap" #hotelmap style="height: 74vw;width: 100%; background-color: #2ec95c"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

