date-container {
  .close{
    position: absolute;
    left: 15px;
    z-index: 99;
    top: 1px;
  }
  .day-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 99;
    background: #fff;
  }
  .fixed-header {
    position: fixed;
    left: 0; right: 0;
    top: 52px;
  }
  .week-day-item{
    height: 32px;
    line-height: 32px;
    text-align: center;
    flex:0 0 14.2857%;
    width: 14.2857%;
    max-width: 14.2857%;;
  }
}
