<ion-header>
  <ion-navbar no-border-bottom no-lines>
    <ion-title>
      订单
    </ion-title>
  </ion-navbar>
  <ion-segment  [(ngModel)]="curTab" (ionChange)="tabChange()">
    <ion-segment-button [value]="ORDER_ENUM.WAIT_PAY">
      待支付
    </ion-segment-button>
    <ion-segment-button [value]="ORDER_ENUM.WAIT_USE">
      待使用
    </ion-segment-button>
    <ion-segment-button [value]="ORDER_ENUM.USING">
      使用中
    </ion-segment-button>
    <ion-segment-button [value]="ORDER_ENUM.COMPLETED">
      已完成
    </ion-segment-button>
    <ion-segment-button [value]="ORDER_ENUM.REVOKED">
      撤销订单
    </ion-segment-button>
  </ion-segment>
  <!--<ion-toolbar no-border-top no-border-bottom>-->
    <!---->
  <!--</ion-toolbar>-->
</ion-header>

<ion-content>
  <div [ngSwitch]="curTab">
    <ion-list >
      <div text-center class="no-data" *ngIf="orderItems.length === 0 && !notLoadOver">
        <img src="./assets/img/no_order.png" alt="" >
        <p>您还没有订单哦!</p>
      </div>
      <ion-item-group *ngFor="let order of orderItems; let index = index">
        <ion-item-divider class="item-header" color="light">订单编号:{{order.ddbh}}</ion-item-divider>
        <ion-item class="item-content">
          <ion-thumbnail item-start>
            <img src="assets/img/thumbnail-puppy-1.jpg">
          </ion-thumbnail>
          <div class="sub-title">
            <h3 float-left>{{order.gymc}} {{order.sslc}}楼{{order.fjhb}}室</h3>
            <h2 float-right >￥{{order.ddje}}</h2>
          </div>
          <div class="address"><i class="iconfont icon-location"></i> {{order.gydz}}</div>
          <div class="min-font"><i class="iconfont icon-time"></i> {{order.rzkssj}}~{{order.rzjssj}}</div>
        </ion-item>
        <ion-item class="item-footer">
          <!--<div item-left="">-->
            <!--优惠券折扣: ￥{{}}-->
          <!--</div>-->
          <button *ngSwitchCase="ORDER_ENUM.WAIT_PAY" (tap)="goPay(order.ddbh, index)" padding-left  padding-right ion-button item-right round outline>支付</button>
          <button *ngSwitchCase="ORDER_ENUM.WAIT_USE" (tap)="cancelOrder(order.ddbh, index)" padding-left  padding-right ion-button item-right round outline>申请退订</button>
          <button *ngSwitchCase="ORDER_ENUM.USING" (tap)="leaveRoom(order.ddbh, index)" padding-left  padding-right ion-button item-right round outline>退房</button>
          <button *ngSwitchCase="ORDER_ENUM.REVOKED" padding-left  padding-right ion-button item-right round outline>退款失败</button>
        </ion-item>
      </ion-item-group>
    </ion-list>


  </div>
  <ion-infinite-scroll [enabled]="notLoadOver" (ionInfinite)="$event.waitFor(getOrder($event))">
    <ion-infinite-scroll-content

      loadingSpinner="bubbles"
      loadingText="加载中......">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
